<h1>Edit <%= @song.name %></h1>

<form action= "/songs/<%=@song.slug%>" method= "POST" >
    <input type="hidden"  name="_method"  value="PATCH" >
    Song: <input type="text" name="song[name]" id="Name" value="<%=@song.name%>" >
    Artist: <input type="text" name="artist[name]" id="Artist Name" value="<%=@song.artist.name%>" >

<% Genre.all.each do |genre| %>
<label><%= genre.name %></label>
<input type="checkbox" name="song[genre_ids][]" id="<%= genre.name %>" value="<%=genre.id%>" <%= 'checked' if @song.genres.include?(genre) %>>
<% end %>
<input type="submit" value="Save">

  </form>
